@orange-color: #ff7a59;
@green-color: #cbdcd2; // #96afb9 #cbdcd2
@gray-color: #eeeeee;
@gray-font-color: rgba(0, 0, 0, 0.5);
@blue-color: #00528c;

@font-face {
  font-family: "iconfont"; /* Project id 4130151 */
  src: url('//at.alicdn.com/t/c/font_4130151_pp4t3cvvfq.woff2?t=1688202835941') format('woff2'),
       url('//at.alicdn.com/t/c/font_4130151_pp4t3cvvfq.woff?t=1688202835941') format('woff'),
       url('//at.alicdn.com/t/c/font_4130151_pp4t3cvvfq.ttf?t=1688202835941') format('truetype');
}

:global {
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-email:before {
    content: "\e856";
  }
  
  .icon-gouwuche11:before {
    content: "\e615";
  }
  
  .icon-giftcard:before {
    content: "\e82a";
  }
  
  .icon-wallets:before {
    content: "\e66e";
  }
  
  .icon-qiandai:before {
    content: "\e73b";
  }
  
  .icon-ccvisa:before {
    content: "\e678";
  }
  
  .icon-cc-mastercard:before {
    content: "\e641";
  }
  
  .icon-linkedin:before {
    content: "\e65c";
  }
  
  .icon-youtube:before {
    content: "\e63e";
  }
  
  .icon-youtube-fill-round:before {
    content: "\e6a2";
  }
  
  .icon-facebook:before {
    content: "\e621";
  }
  
  .icon-xiai:before {
    content: "\e600";
  }
  
  .icon-yonghu:before {
    content: "\e64d";
  }
  
  .icon-gouwuche:before {
    content: "\e613";
  }
  
  .icon-password:before {
    content: "\e62b";
  }
  
  .icon-map:before {
    content: "\e6a8";
  }
  
  .icon-user:before {
    content: "\e7ae";
  }
  
}