@orange-color: #ff7a59;
@green-color: #cbdcd2; // #96afb9 #cbdcd2
@gray-color: #eeeeee;
@gray-font-color: rgba(0, 0, 0, 0.5);

@font-face {
  font-family: 'iconfont'; /* Project id 4130151 */
  src: url('//at.alicdn.com/t/c/font_4130151_gsh58k2bkuu.woff2?t=1687173115316')
      format('woff2'),
    url('//at.alicdn.com/t/c/font_4130151_gsh58k2bkuu.woff?t=1687173115316')
      format('woff'),
    url('//at.alicdn.com/t/c/font_4130151_gsh58k2bkuu.ttf?t=1687173115316')
      format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-password:before {
  content: '\e62b';
}

.icon-map:before {
  content: '\e6a8';
}

.icon-user:before {
  content: '\e7ae';
}
